<div class="nav">
  <img src="<%= image_path('Ready-logo.png') %>">
  <div class="logged_in">
    Welcome, <%= current_user.name %>!
    <form action="/session" method="POST">
      <%= auth_token %>
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Log Out">
    </form>
  </div>
</div>
</div>
<div id="ready">
  <div id="content"/>
  "Here's Ready!"
</div>
<!-- 
<script type="text/javascript">
  window.startUp();
</script> -->
