// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "scss/globals.scss";

.bookShelver {
  text-align: center;
}

.bookShelver .button {
  margin: 5px;
}

.bookShelver .select {
  margin: auto;
}

.miniShelver {
  margin: 0px 5px;
  float: left;
  width: 195px;
}

.miniShelver > select, button {
  float: left;
  margin-right: 5px;
}

.book {
  padding: 20px 0px;
}

.bookView h2 {
  font-size: 24px;
  font-weight: bold;
}

.book .cover {
  float: left;
  border: 1px solid #000;
  margin-right: 20px;
}

.currentShelves {
  padding: 10px 0px;
  clear: both;
}

.currentShelves li {
  margin-top: 5px;
}

.currentShelves a {
  font-size: 12px;
  font-style: italic;
  font-color: $darkred;
}

.currentShelves a:hover {
  text-decoration: underline;
}

.ratingBar {
  font-size: inherit;
  color: $darkred;
}

.ratingBar:hover {
  color: lighten($darkred, 20%);
}

.ratingBar li:hover ~ li {
  color: $darkred;
}

.largeBar {
  font-size: 24px;
}

.smallBar {
  font-size: 16px;
}

.stars {
  display: block;
}

.stars li {
  float: left;
}
