@import "scss/globals.scss";

.reviewsPage {
  position: relative;
}

.reviewItem {
  border-bottom: 1px solid $darkred;
  padding: 10px;
  position: relative;
}

.reviewItem .imgBox {
  display: block;
  position: relative;
  float: left;
  height: 58px;
  width: 37px;
  overflow: hidden;
  padding-right: 20px;
}

.reviewItem .reviewBox {
  display: block;
  position: relative;
  float: left;
  height: 58px;
  width: 37px;
}

.reviewItem p {
  display: block;
  padding: 0px 10px;
  margin: 5px;
  float: left;
  width: 80%;
}

.reviewItem > p:last-child {
  font-style: italic;
  color: lighten($darkred, 10%);
}

.reviewItem a {
  position: relative;
  display: inline;
  font-weight: bold;
}

.reviewItem a:hover {
  text-decoration: underline;
}

.reviewsColumn {
  right: 0;
}

.reviewsList {
  float: left;
}
