// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "scss/globals.scss";

.login {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.welcomeBack {
  width: 900px;
  margin: auto;
  min-height: 100vh;
}

.welcome {
  background: $tan;
  float: left;
  padding: 40px;
  padding-bottom: 0px;
  width: calc(100% - 342px); //accounting for padding
  height: 200px;
  text-align: center;
  font-size: 16px;
}

.welcome strong {
  font-family: Pacifico;
  font-size: 36px;
  font-weight: bold;
}

.new_user {
  position: relative;
  background: $tan;
  float: right;
  width: 220px;
  height: 199px;
  padding: 20px;
  border: 1px solid darken($tan, 5%);
  border-top: 0;
  z-index: 1;
}

.new_user p:first-child {
  font-size: 16px;
  font-weight: bold;
}

.new_user p:last-child {
  font-size: 12px;
}

.new_user input {
  position: absolute;
  right: 10px;
}

.guest {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(50% + 475px);
}
