// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "scss/globals.scss";

.friending {
  width: 55px;
  text-align: center;
}

.userProps {
  float: left;
}

.userProfile {
  float: left;
  padding: 10px;
  margin-left: 20px;
}

.user {
  padding: 10px;
  margin-bottom: 20px;
}
