<div class="login nav">
  <form action="session" method="POST">
    <%= auth_token %>
    <label for="userinfo">Username/Email:
      <input type="text" name="[user]info" id="userinfo"></input>
    </label>
    <label for="password">Password:
      <input type="password" name="[user]password" id="password"></input>
    </label>
    <input type="submit" value="Log in!"></input>
  </form>
</div>

<h1>Welcome to Ready!</h1>
<h2>You should join!</h2>

<div class="new_user">
  <form action="/users" method="POST">
    <%= auth_token %>
    <label for="name">Name:
      <input type="text"
             id="name"
             name="[user]name"
             value="<%=@user.name%>">
      </input>
    </label>
    <br>
    <label for="email">Email:
      <input type="text"
             id="email"
             name="[user]email"
             value="<%=@user.email%>">
      </input>
    </label>
    <br>
    <label for="password">Password:
      <input type="password" name="user[password]" id="password"></input>
    </label>
    <br>
    <input type="submit" value="Sign up!"></input>
  </form>
</div>
