window.WorldCat = React.createClass({

  render: function() {

    return (
      <div className="worldCat">
        <img src="<%= asset_path("OCLCWorldCat.png") %>"
             alt="Click to search WorldCat for {this.props.title}."/>
      </div>
      );

  }

});
