// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "scss/globals.scss";

.bookShelver {
  border: 1px solid $darkred;
  margin: 20px;
  width: 200px;
  padding: 10px;
  text-align: center;
  height: 90px;
}

.bookShelver .select {
  margin: auto;
}

.book {
  margin: 20px;
}
