// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "scss/globals.scss";

.bookView {
  display: relative;
  margin: 20px;
  margin-top: 0px;
}

.bookShelver {

  border: 1px solid $darkred;
  text-align: center;
  height: 90px;
}

.bookShelver .select {
  margin: auto;
}

.book {
  background: $tan;
  float: right;
  width: calc(100% - 320px);
  margin: 10px;
  padding: 20px;
  padding-top: 0;
}

.bookView .book :first-child {
  font-size: 24px;
  font-family: Pacifico;
  font-weight: bold;
}
