@import "scss/globals.scss";
@import "scss/sessions.scss";
@import "scss/static_pages.scss";
@import "scss/users.scss";
@import "scss/home.scss";
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic);

.logo {
  font-size: 36px;
  padding-left: 15px;
  color: $darkerred;
}

.nav {
  position: relative;
  height: 40px;
  background: lighten($tan, 5%);
  color: $darkerred;
  overflow: hidden;
  border-bottom: 1px solid $darkred;
}

.nav img {
  position: absolute;
  top: -13px;
  height: 65px;
}

.select {
  background: lighten($darkred, 80%);
  border-radius: 0;
  width: 150px;
  overflow: hidden;
}

.button {
  background: $offwhite;
}
