@import "scss/books.scss";
@import "scss/carousel.scss";
@import "scss/feed.scss";
@import "scss/globals.scss";
@import "scss/home.scss";
@import "scss/search.scss";
@import "scss/sessions.scss";
@import "scss/shelves.scss";
@import "scss/shelvings.scss";
@import "scss/static_pages.scss";
@import "scss/users.scss";
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic);

.logo {
  font-size: 36px;
  padding-left: 15px;
  color: $darkerred;
}

.header {
  @include linearGradient($tan, $offwhite);
  position: relative;
  height: 40px;
  color: $darkerred;
  font-size: 14px;
  overflow: hidden;
  border-bottom: 1px solid $darkred;
}

.footer {
  position: relative;
  margin: 0;
  height: 30px;
  color: $darkerred;
  background: lighten($tan, 10%);
  font-size: 12px;
  border-top: 1px solid $darkred;
}

.footer .copyright {
  float: left;
}

.copyright p {
  float: left;
  padding: 8px;
  margin: 0;
}

.footer ul {
  float: right;
  display: block;
  margin: auto;
}

.footer li {
  padding: 8px;
  float: left;
}

.nav {
  height: inherit;
  position: relative;
  width: 900px;
  margin: auto;
}

.nav input {
  margin-right: 5px;
}

.nav img {
  position: absolute;
  top: -13px;
  height: 65px;
}

.mainContent {
  position: relative;
  width: 900px;
  margin: auto;
  font-size: 14px;
}

.view {
  position: relative;
  margin-top: 0px;
}

.bodyContainer {
  background: $offwhite;
  float: right;
  width: calc(100% - 260px);
  margin: 20px;
  padding: 10px;
  padding-top: 0;
}

.sideColumn {
  position: absolute;
  display: block;
  float: left;

  top: 0;
  bottom: 0;
  width: 180px;
  height: 100%;

  padding: 10px;
  border-right: 1px solid $darkerred;
  background: $darkerred;
}

.sideBox {
  border: 1px solid $darkred;
  background: $offwhite;
  padding: 5px;
  margin: 5px;
  margin-bottom: 20px;
}

.sideBox p, li {
  padding: 0px 15px;
}

.select {
  background: $lightred;
  border-radius: 0;
  width: 150px;
  overflow: hidden;
}

.button {
  border: 0;
  font-size: 12px;
  border-radius: 2px;
  padding: 2px 8px;
  color: $offwhite;
  background: $darkred;
}

.strongBar {
  display: block;
  @include linearGradient($tan, $offwhite);
  width: 95%;
  margin: auto;
  border: 1px solid $tan;
  padding: 0px 10px;
  box-shadow: 1px 1px $darkred;

  font-family: Pacifico;
  font-size: 16px;
  font-color: $darkred;
}

html, body {
  min-height: 100vh;
}

.content, .ready, .bodyContainer {
  min-height: 100vh;
}

#showLink {
  display: inline-block;
  color: $darkred;
}

#showLink:hover {
  text-decoration: underline;
}

input:focus, button:focus {
  outline: 1px solid $darkred;
}
