// Place all the styles related to the shelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "scss/globals.scss";

.books {
  border: 1px solid $darkerred;
  margin: 10px;
  background: $offwhite;
  height: 170px;
  width: 720px;
}

.shelf strong {
  font-family: Pacifico;
  font-size: 20px;
  font-color: $darkred;
}

.shelf a {
  display: block;
  float: left;
  height: 150px;
  width: 100px;
  background: $tan;
  margin: 10px;
}

.shelf {
  margin: 10px;
}

.shelves {
  float: right;
  width: calc(100% - 300px);
  padding: 25px;
}

.shelfIndex {
  position: relative;
}

.shelfList > :first-child {
  margin: 10px;
}
